page-home {

}
.prod {
    background:#cfa03a;
    width: 100%;
    padding: 15px;
    color: #000 !important;
}
.titulo {
    text-align: center;
    color:#000;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gobold Uplow',sans-serif;
}

.radius {
    border-radius: 6px;
    width: 100%;
}
.center{
    text-align: center;
}
.botonp{
    text-align: center;
    --color: #000 !important;
    font-weight: bold;
    margin-top: 10px;    
    font-family: 'Champagne & Limousines';
    --background: #cfa03a !important;

}
.top{
    margin-top:10px;
    font-family: 'Champagne & Limousines';
    font-size: 20px;
}
.centerr{
    text-align: center;
}
.reds {
    color: #cfa03a !important;
    font-weight: bold !important;
    font-family: 'Gobold Uplow',sans-serif;
}
.big-title {
    font-family: 'Gobold Uplow',sans-serif;
}
.icuenta {
    font-family: 'Champagne & Limousines';
    font-size: 18px;
}